<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLZdo9R4pSSgkF-fvc2PTTGVDNn8Q5MzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>660637162390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ariel.i.travel.payout.app</string>
	<key>PROJECT_ID</key>
	<string>itravel-9500c</string>
	<key>STORAGE_BUCKET</key>
	<string>itravel-9500c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660637162390:ios:1089686dd1e1e936b61bb7</string>
</dict>
</plist>